:root {
    --black: #000;
    --white: #fff;
    --blue: #5ee1f1;
    --coffee: #caa669;
}
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}
input[type="file"]::-moz-file-upload-button {
    cursor: pointer;
}
input[type="file"]::-ms-file-upload-button {
    cursor: pointer;
}
input[type="file"]::-o-file-upload-button {
    cursor: pointer;
}
input[type="file"] {
    cursor: pointer;
}
*{
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 -webkit-tap-highlight-color: transparent;
}
html body {
    font-family: JosefinSans-Regular, sans-serif;
    margin: 0;
    padding-top: 154px;
    background-color: #fff;
}
*::-moz-selection {
    color: var(--white);
    background: #000;
}
*::-webkit-selection {
    color: var(--white);
    background: #000;
}
*::-webkit-input-placeholder {
    color: #5E5E5E;
    opacity: 1;
}
*:-moz-placeholder {
    color: #5E5E5E;
    opacity: 1;
}
*::-moz-placeholder {
    color: #5E5E5E;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #5E5E5E;
    opacity: 1;
}
a,
div a:hover,
div a:active,
div a:focus,
button {
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
a,
span,
div a:hover,
div a:active,
button {
    text-decoration: none;
}
*::after,
*::before,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

ul,
ul li,
ol,
li {
    list-style: outside none none;
    font-family: JosefinSans-Regular, sans-serif;
}
body ul {
    margin: 0;
    padding: 0;
}

body a {
    outline: none;
    color: #555;
}
body a:hover {
    color: #000;
}
body .clearfix,
body .clear {
    clear: both;
    line-height: 100%;
}
body .clearfix {
    height: auto;
}
* {
    outline: none !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
section{
    padding-top: 100px; 
    padding-bottom: 100px; 
}
/*.clr:after,
ul:after,
.clearfix:after,
li:after {
    clear: both;
    display: block;
    content: "";
}*/
div input,
div select,
div textarea,
div button {
    font-family: GothamRounded-Medium, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: 'aqua';
    line-height: 140%;
    color: #5E5E5E;
    font-weight: bold;
    margin: 0 0 15px;
}
body h1 {
    font-size: 24px;
}
body h2 {
    font-size: 22px;
}
body h3 {
    font-size: 18px;
}
body h4 {
    font-size: 16px;
}
body h5 {
    font-size: 12px;
}
body h6 {
    font-size: 10px;
}
body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child {
    margin-bottom: 0;
}
div select {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div select option {
    font-size: 13px;
    color: #333;
    padding: 2px 5px;
}
img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
body p {
    color: #5e5e5e;
    font-family: 'aqua';
    font-size: 18px;
    margin: 0 0 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
}
body p:empty {
    margin: 0;
    line-height: 0;
}
body p:last-child {
    margin-bottom: 0;
}
p strong {
    font-weight: bold;
}

label em {
    color: #ff0000;
    display: inline-block;
    font-style: normal;
    vertical-align: top;
    margin-left: 5px;
}
.hidden {
    display: none !important;
}
iframe {
    display: block;
}
.gm-style img {
    max-height: inherit;
    max-width: none;
}
.container:after {
    content: "";
    display: block;
    clear: both;
}
.container {
    width: 100%;
    max-width: 1730px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
    float: none;
}
body .container .container {
    padding-left: 0;
    padding-right: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/*scroll Hide*/
html.no-scroll {
    overflow: hidden;
}
html.no-scroll body {
    overflow: hidden;
    height: 100%;
}

/*button*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
    background: 0 0;
}
::-webkit-scrollbar-thumb {
    background: var(--coffee);
    border-radius: 0;
    height: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--coffee);
}
/* Buttons styles start */
.btn:before,
button:before {
	content: "";
	height: 3px;
	width: 3px;
	background-color: var(--coffee);
	position: absolute;
	top: -3px;
	bottom: 0;
	left: -3px;
	right: 0;
	box-shadow: 0px 0px 5px 0 var(--coffee);
	transition: 1s;
	border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
	z-index: -1;
}
.btn:hover:before,
button:hover:before{
	box-shadow: 0px 0px 1px 20pc var(--coffee);
} 
.btn,
button {
    display: inline-block;
    overflow: hidden;
    border: none;
    padding: 13px 26px;
    margin: 0;
    text-decoration: none;
    background: #f8f8f8;
    color: var(--black);
    font-size: 24px;
    line-height: 120%;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    position: relative;
    transition: all 0.5s ease;
    border: 1px solid var(--blue);
    z-index: 1;
}
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    /*background-color: var(--coffee);*/
    transition: all 0.5s ease;
    color: var(--white);
    border-color: var(--coffee);
}
.round-coner {
    border-radius: 5px;
}

/* Button styles end */

/*lozad*/

.lozad {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    animation-name: fade;
    animation-duration: 2s;
    visibility: visible;
}
@keyframes fade {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

/*lozad*/
/*Header Css Start*/
.header {
    background-color: var(--black);
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.5s ease 0s;
    z-index: 999999;
}
.topbar-left-info ul {
    display: flex;
}
.topbar-left-info ul li{
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid var(--white);
}
.topbar-left-info ul li:last-child{
    margin-right: 0;
    border-right: 0px;
    padding-right: 0;
}
.topbar-left-info ul li a {
    color: var(--white);
    font-size: 16px;
    display: flex;
    align-content: center;
}
.topbar-left-info ul li a i{
    margin-right: 10px;
}
.header-top .row{
    align-items: center;
    justify-content: space-between;
}
.topbar-right-info ul{
    display: flex;
}
.topbar-right-info ul li{
    margin-left: 18px;
}
.topbar-right-info ul li:first-child{
    margin-left: 0;
}
.topbar-right-info ul li a{
    color: var(--white);
    font-size: 18px;
}
.header-top{
    padding: 10px 0;
    margin-bottom: 3px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.header-bottom{
    margin-top: 2px;
    border-top: 1px solid rgba(255,255,255,0.5);
    padding: 15px 0;
    position: relative;
}
/*.header-bottom:before{
    content: "";
    bottom: -59%;
    position: absolute;
    left: 0;
    right: 0;
    height: 60%;
    display: block;
    background-color: #000;
    clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 0%, 0 100%, 0 0);
}*/
.header-bottom:before{
    content: "";
    position: absolute;
    bottom: -20%;
    background-color: rgba(255,255,255,0.5);
    height: 1px;
    left: 0;
    right: 0;
    width: 100%;    
    transform: rotate(0deg);
    display: none;
}
.header-bottom::after {
    content: "";
    position: absolute;
    bottom: -20%;
    background-color: rgba(255,255,255,0.5);
    height: 1px;
    left: 0;
    right: 0;
    width: 100%;    
    transform: rotate(179deg);
    display: none;
}
.menu-block ul{
    display: flex;
    align-self: center;
}
.menu-block ul > li{
    margin-left: 16px;
}
.menu-block ul > li:first-child{
    margin-left: 0;
}
.menu-block ul > li > a{
    color: var(--white);
    font-size: 18px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: block;
}
.header-bottom .row{
    align-items: center;
    justify-content: space-between;
}
.menu-block ul > li.active > a:before,
.menu-block ul > li > a:hover:before{
    opacity: 0.4;
    animation-name: menuhover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.11,1.15,.79,-0.25);
}
.menu-block ul li.active a:before{
    animation-name: menuhover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.11,1.15,.79,-0.25);
    /*animation-play-state: paused;*/
    /*width: 100% !important;*/
    /*opacity: 0.4 !important;*/
}
.menu-block ul li a:before{
    content: "";
    position: absolute;
    background-color: var(--blue);
    position: absolute;
    top: 0;
    left: -110%;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: -1;
    filter: blur(1px);
}
@keyframes menuhover{
    0%{
        opacity: 0.5;
        left: -110%;
    }
    50%{
        width: 100%;
    }
    100%{
        left: 100%;
    }
}
.togglebtn{
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.togglebtn span{
    position: relative;
    height: 1px;
    background-color: var(--white);
    width: 100%;
    transition: all 0.5s ease 0s;
}
.togglebtn span:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    display: block;
    top: -10px;
    background-color: var(--white);
    transition: all 0.5s ease 0s;
}
.togglebtn span:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    display: block;
    bottom: -10px;
    background-color: var(--white);
    transition: all 0.5s ease 0s;
}
body.menu_open .togglebtn span{
    background-color: transparent; 
    filter: blur(1px);
}
body.menu_open .togglebtn span:after{
    bottom: 0;
    transform: rotate(45deg);
}
body.menu_open .togglebtn span:before{
    top: 0;
    transform: rotate(-45deg);
}
body.menu_open{
    overflow: hidden;
}
.logo {
    display: block;
    font-size: 30px;
    color: var(--white);
}
.logo span{
    color: var(--blue);
}
.header.fixed{
    top: -47px;
}
.topbar-left-info ul li a:hover,
.topbar-right-info ul li a:hover{
    color: var(--coffee);
}
/*Header Css Start*/
/*Hi Css Statr*/
.hi-left-block{
    width: 50%;
}    
.hi-right-block{
    width: 50%;
}
.hi-left-block h2 {
    font-size: 70px;
    color: var(--coffee);
    font-family: GothamRounded-Medium, sans-serif;
}
.hi-left-block h1 {
    font-size: 90px;
    font-family: 'aqua';
    color: var(--coffee);
    margin-bottom: 0;
}
.hi-left-block h3 {
    font-size: 45px;
    font-family: 'aqua';
    color: var(--black);
}
.hi-sec{
    background-color: #f8f8f8;
    height: calc(100vh - 112px);
    margin-top: -42px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.resume-download{
    margin-top: 30px;
}
.hi-sec .row{
    align-items: center;
    height: 100%;
}
.my-gadgets{
    position: relative;
    display: flex;
    align-items: center;
}
.my-gadgets > img{
    width: 100%;
    height: auto;
}
.my-gadgets > img.macbook{
    animation: iphonetptp 1s infinite alternate linear;
}
.my-gadgets > img.iphone{
    position: absolute;
    width: 14%;
    right: 0;
    bottom: 0;
    animation: iphonetptp 1s infinite alternate linear;
}
.my-gadgets::before {
    content: "";
    position: absolute;
    height: 8px;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: #000;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    filter: blur(8px);
    animation: iphonetptp 1s infinite alternate linear;
}
.snake-emoji{
    display: inline-block;
    animation: iphonetptp 1s infinite alternate linear;
}
@keyframes iphonetptp{
    0%{
        transform: translateY(2%);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-2%);
    }
}
.heand-sake{
    display: inline-block;
    transform-origin: right bottom; 
    animation: hendsake 1s infinite alternate linear;
}
@keyframes hendsake{
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}
.hi-sec:after,
.hi-sec:before{
    content: "";
    position: absolute;
    top: -0%;
    left: -0%;
    width: 1px;
    height: 1px;
    background-color: var(--coffee);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    animation: scalseshadow 3s infinite linear;
    pointer-events: none;
    z-index: -1;
}
.hi-sec:after{
    left: auto;
    right: -0%;
    top: auto;
    bottom: -0%;
    animation: scalseshadow 4s infinite linear;
    animation-delay: 2s;
}
@keyframes scalseshadow{
    0%{
        box-shadow: 0px 0px 5px 0 var(--coffee);
        opacity: 0.1;
        filter: blur(10px);
    }
    50%{
        box-shadow: 0px 0px 5px 130pc var(--coffee);
    }
    100%{
        box-shadow: 0px 0px 5px 0 var(--coffee);
        opacity: 0;
    }
}
/*Hi Css End*/
/*About Me Css Start*/
.about-me-sec{
    background-image: url('../images/Prince_Banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    background: #FFFFFF;
}

.about-me-sec:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    display: block;
    z-index: -1;
}
.sec-heading{
    padding-bottom: 50px;
}
.sec-heading h2{
    font-size: 60px;
    font-family: 'aqua';
    color: var(--blue);
    display: inline-block;
    position: relative;
}
.sec-heading h2:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    background-color: var(--coffee);
    height: 1px;
    left: 0;
}
.sec-heading h2:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    right: -10%;
    background-color: var(--coffee);
    height: 1px;
}
.sec-heading span{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--coffee);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    animation: rotateop 2s infinite linear;
}
.sec-heading span:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--blue);
    bottom: -5px;
    filter: blur(2px);
    left: -5px;
}
.sec-heading span:after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--blue);
    top: -5px;
    filter: blur(2px);
    right: -5px;
}
@keyframes rotateop{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.about-left{
    width: 50%;
    padding-right: 15px;
}
.about-left *{
    color: #fff;
}
.about-right{
    width: 50%;
    padding-left: 15px;
}
.small-heading{
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 10px;
    color: #000;
}
.me-heading {
    font-size: 50px;
    font-family: JosefinSans-Regular, sans-serif;
    display: inline-block;
    background-color: var(--coffee);
    color: #fff;
}
.me-heading-block {
    padding-bottom: 30px;
}
.text-title {
    font-size: 22px;
    font-family: 'aqua';
    color: var(--black);
}
.skills-block ul li{
    margin-bottom: 30px;
}
.skills-block ul li span{
    color: var(--white);
}
.skills-block ul li:last-child{
    margin-bottom: 0;
}
.progress-bar {
    height: 10px;
    background-color: var(--white);
    margin-top: 10px;
    position: relative;
}
.progress-bar > div > span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--blue);
}
.progress-bar > label{
    position: absolute;
    top: -25px;
    right: 0;
    font-size: 14px;
    color: var(--white);
}
.about-in-icon h5::before {
    content: "";
    position: absolute;
    background-color: var(--white);
    width: 40px;
    height: 1px;
    right: -40%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}
.about-in-icon h5{
    position: relative;
    transform: rotate(-30deg) skew(25deg);
    -webkit-transform: rotate(-30deg) skew(25deg);
    color: var(--white);
    font-family: 'aqua';  
    display: inline-block; 
    font-size: 18px;
    margin-right: 15%;
}
.about-in-icon{
    display: flex;
    padding-top: 10%;
}
.about-in-icon ul{
    display: flex;
}
.about-in-icon ul li{
    -webkit-transform: rotate(-30deg) skew(25deg);
    margin-right: 30px;
}
.about-in-icon ul li:last-child{
    margin-right: 0;
}
.about-in-icon ul li a{
    font-size: 18px;
}
.about-in-icon ul li a:hover{
    color: var(--blue);
}
/*I Do Css Start*/
.whatido-block ul{
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
}
.whatido-block ul li{
	width: 25%;
	padding: 0 15px;
}
.whatido-block ul li h2{
	color: var(--coffee);
}
.whatido-img {
	width: 70%;
	margin-bottom: 20px;
	animation: iphonetptp 1s infinite alternate linear;
}
.whatido-block ul li:nth-child(1) .whatido-img {
	animation-delay: 0.5s;
}
.whatido-block ul li:nth-child(2) .whatido-img {
	animation-delay: 0.3s;
}
.whatido-block ul li:nth-child(3) .whatido-img {
	animation-delay: 0.6s;
}
.whatido-block ul li:nth-child(4) .whatido-img {
	animation-delay: 0.9s;
}
.whatido-sec{
	/*background-image: url(../images/service_bg.jpg);*/
	/*background-color: #1b1c1e;*/
	background-color: #f7f7f7;
}
.whatido-info p{
	color: var(--black);
}
.whatido-sec .small-heading{
	/*color: var(--black);*/
}
.about-me-sec{
	position: relative;
}
.whatido-sec::after {
	content: "";
	bottom: -0px;
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	display: block;
	background-color: #f8f8f8;
	 /*transform: rotate(180deg); */
	clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 0%, 0 100%, 0 0);
}
.about-me-sec::before {
	content: "";
	bottom: -0px;
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	display: block;
	background-color: #f7f7f7;
	 transform: rotate(180deg); 
	clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 0%, 0 100%, 0 0);
}
/*I Do Css End*/
/*Mission Css Start*/
.mission-sec{
	background-color: #1b1c1e;
	position: relative;
}
.mission-sec:before{
	content: "";
	top: -59px;
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	display: block;
	background-color: #1b1c1e;
	transform: rotate(180deg);
	clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 0%, 0 100%, 0 0);
}
.mission-sec:after{
	content: "";
	bottom: -59px;
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	display: block;
	background-color: #1b1c1e;
	/*transform: rotate(180deg);*/
	clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 0%, 0 100%, 0 0);
}
.mission-sec .small-heading{
	color: var(--white);
}
.mission-info p{
	color: var(--white);
}
.mission-info{
	position: relative;
}
.mission-info > .missionimg {
	display: block;
	width: 25%;
	position: absolute;
	top: -200%;
	right: 10%;
	opacity: 0.5;
	animation: iphonetptp 1s infinite alternate linear;
}
/*Mission Css End*/
/*Work Css Start*/
.work-sec{
	position: relative;
}
.work-sec:before{
	content: "";
	top: 0px;
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	display: block;
	background-color: #f7f7f7;
	clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 0%, 0 100%, 0 0);
}
.work-list ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.work-list ul li{
	width: 33.33%;
	padding: 0 15px;
}
.work-list ul li > div{
	height: 350px;
	width: 100%;
	background-size: cover;
	background-position: top;
	transition: all 6s ease 0s;
	position: relative;
	border: 1px solid var(--coffee);
}
.work-list ul li > div:hover{
	background-position: bottom;
}
.work-list {
	width: 100%;
}
.mylift-block > ul {
	display: flex;
	flex-wrap: wrap;
}
.mylift-block > ul > li:empty{
	padding: 0;
	border: 0;
}
.mylift-block > ul > li:nth-child(even){
	animation-delay: 0.2s;
}
.mylift-block > ul > li:nth-child(odd){
	animation-delay: .5s;
}
.mylift-block > ul > li {
	border: 1px solid var(--coffee);
	padding: 15px;
	width: 50%;
	position: relative;
	animation: iphonetptp 1s infinite alternate linear;
}
.mylift-block > ul > li h3{
	font-size: 40px;
	color: var(--coffee);
}
.mylift-block > ul > li p{
	color: var(--black);
	margin-bottom: 8px;
}
.mylift-block > ul > li > a{
	font-size: 18px;
}
.mylift-block > ul > li:nth-child(odd):empty:before{
	display: none;
}
.mylift-block > ul > li p:last-child{
	margin-bottom: 0;
}
.mylift-block > ul > li:empty:before{
	content: "";
	width: 30px;
	height: 30px;
	border-top: 1px solid var(--coffee);
	border-right: 1px solid var(--coffee);
	border-bottom: 1px solid var(--coffee);
	border-left: 1px solid var(--coffee);
	display: block;
	position: absolute;
	bottom: -15px;
	left: -15px;
	background-color: var(--white);
	z-index: 1;
	animation: rotateop 2s infinite linear;
}
/*.mylift-block ul li:empty:after{
	content: "";
	width: 30px;
	height: 30px;
	border-bottom: 1px solid var(--coffee);
	border-left: 1px solid var(--coffee);
	display: block;
	position: absolute;
	top: -15px;	
	right: -15px;
	background-color: var(--white);
}*/
.hobbys{
	display: flex;
	flex-wrap: wrap;
}
.hobbys > li {
	width: 50%;
	font-size: 24px;
	margin-bottom: 8px;
	list-style: inside;
}
.workingas li{
	list-style: inside;	
}
.workingas li p{
	display: inline-block;
}
/*Work Css End*/
/*Contact Css Start*/
.field {
	width: 100%;
	margin-bottom: 15px;
}
.field.message > textarea{
	height: 200px;
	padding-top: 15px;
	resize: none;
}
.contact-form form .field.message {
	max-width: 100%;
}
.field > textarea, .field > input {
	border: 0;
	border-bottom: 1px solid var(--coffee);
	height: 45px;
	width: 100%;
	text-transform: capitalize;
	font-size: 20px;
	font-family: 'aqua';
	font-weight: 300;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
	position: relative;
	background-color: transparent;
	color: var(--white);
}
.field > input::placeholder,
.field > textarea::placeholder{
	color: var(--white);
}
.contact-form{
	width: 100%;
}
.contact-form form .field {
	max-width: 50%;
	padding: 0 10px;
}
.contact-form form{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.contact-sec{
	position: relative;
	background-image: url(../images/contact_back.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
}
.contact-sec .small-heading{
	color: var(--white);
}
.contact-sec:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
}
.contact-form .field.btn-field{
	margin-top: 10px;
	max-width: 100%;
	display: flex;
	align-items: center;
}
.or-follows {
	padding-left: 2%;
	display: flex;
}
.or-follows li{
	display: inline-block;
	margin-right: 15px;
}
.or-follows li a {
    width: 50px;
    height: 50px;
    border: 1px solid var(--blue);
    display: block;
    line-height: 54px;
    text-align: center;
    color: var(--coffee);
    font-size: 22px;
    padding: 0;
}
.mylift-sec{
	position: relative;
}
.contact-sec:after{
	content: "";
	top: -0;
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	display: block;
	background-color: #FFF;
	/*transform: rotate(180deg);*/
	clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 0%, 0 100%, 0 0);
}
/*Contact Css End*/
/*Footer Css Start*/
.footer-info ul{
	display: flex;
	flex-wrap: wrap;
}
.footer-info ul li{
	width: 33.33%;
	position: 0 15px;
	text-align: center;
}
.footer-info ul li i{
	font-size: 30px;
	color: var(--blue);
	margin-bottom: 20px;
}
.footer-info ul li h5{
	font-size: 22px;
	color: var(--black);
}
.footer-top{
	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
}
.footer-bottom{
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
}
.footer-info ul li a{
	display: block;
	margin-bottom: 6px;
	font-size: 18px;
}
.footer-bottom p{
	color: var(--white);
	font-size: 18px;
}
.footer-bottom {
	text-align: center;
	background-color: #111111;
}
.footer-top:before{
	content: "";
	top: -59px;
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	display: block;
	background-color: var(--white);
	transform: rotate(180deg);
	clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 0%, 0 100%, 0 0);
}

.footer{
	position: relative;
}
/*Footer Css End*/
/*Exprience Css Start*/
.exprience-sec{
	background-color: #f8f8f8;
	position: relative;
}
.mylift-sec{
	position: relative;
}
.exprience-sec:after{
	content: "";
	bottom: -59px;
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	display: block;
	background-color: #f8f8f8;
	/*transform: rotate(180deg);*/
	clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 0%, 0 100%, 0 0);
	z-index: 1;
}
.mylift-block {
	width: 100%;
}
.exprience-block  > ul > li h3{
	font-size: 22px;
}
.exprience-company-count {
    position: absolute;
    font-size: 70px;
    opacity: 0.1;
    right: 12px;
    top: 20px;
    filter: blur(2px);
}
.expertise-info li{
	position: relative;
	margin-bottom: 5px;
}
.expertise-info li p{
	padding-left: 30px;
}
.expertise-info li p i{
	position: absolute;
	left: 0;
	top: 2px;
}
.expertise-info li p a{
	text-decoration: underline;
	color: var(--black);
}
.expertise-info li p a:hover{
	color: #e31e25;
}
.expertise-info li:first-child p{
	font-size: 18px;
}
.expertise-info li.myinfo-inthis p{
	padding: 0;
}
.expertise-info li.myinfo-inthis{
	margin-bottom: 15px;
}
.mylift-sec:before{
	content: "";
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	display: block;
	background-color: #f8f8f8;
	transform: rotate(180deg);
	clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 0%, 0 100%, 0 0);
}
#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: var(--coffee);
	width: 40px;
	height: 40px;
	line-height: 46px;
	text-align: center;
	display: none;
	text-decoration: none;
	animation: arrow 0.2s infinite alternate;
	-webkit-animation: arrow 0.2s infinite alternate;
	color: #fff;
	z-index: 99;
	transition: none;
}
#return-to-top:hover{
	background-color: var(--blue);
}
@keyframes arrow {
    100% {
        line-height: 40px;
    }
    0% {
        line-height: 50px;
    }
}
.whatido-sec{
	position: relative;
}
.miimages{
    background-image: url(../images);
}
/*Exprience Css End*/
.pageloader{
    overflow: hidden;
}
.lendingscreen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: #000;*/
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lendingscreen-text{
    z-index: 9;
    text-align: center;
    transition: all 1s ease 0s;
}
.lendingscreen-text h4{
    font-size: 3vw;
    color: #fff;
}
.lendingscreen-text p{
    color: #fff;
    font-size: 2vw;
    transition-delay: 3s;
    transition: all 0.5s ease 0s;
}
.lendingscreen-text p span{
    animation: showhide 1s infinite linear alternate;
}
.lendingscreen-text p span:nth-child(2){
    animation-delay: 0.3s; 
}
.lendingscreen-text p span:nth-child(3){
    animation-delay: 0.6s; 
}
@keyframes showhide{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#loading-page{
    transition: all 2s ease 0s;
}
#loading-page:before{
    content: "";
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    transition: all 2s ease 0s;
}
#loading-page:after{
    content: "";
    position: absolute;
    background-color: #000;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    transition: all 2s ease 0s;
}
.pageloaded #loading-page:after{
    height: 0;
}
.pageloaded #loading-page:before{
    height: 0;
}
.pageloaded .lendingscreen-text{
    opacity: 0;
    visibility: hidden;
}
.pageloaded #loading-page{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-delay: 1s;

}
.eapps-instagram-feed-posts-item-image {
    height: 100%;
    object-fit: contain;
}
html body .instafeed-sec #eapps-instagram-feed-1 .eapps-link {
    display: none;
    opacity: 0;
}
.hides {
    position: absolute;
    background-color: #f7f7f7;
    height: 56px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 99999;
}
.instafeed-sec {
    position: relative;
    padding: 0;
    background-color: #f7f7f7;
}
span.heand-sake {
    width: 7%;
}
.mynames span {
    line-height: 0;
    vertical-align: middle;
    display: inline-block;
}
span.snake-emoji {
    width: 11%;
}
span.developer-emoji {
    width: 4%;
}

.contact-sec .container{
    max-width: 1200px;
}