@font-face{
	font-family: 'aqua';
	src: url(../fonts/aqua.ttf);
}

@font-face{
	font-family: 'GothamRounded-Medium';
	src: url(../fonts/GothamRounded-Medium.otf);
}

@font-face{
	font-family: 'JosefinSans-Regular';
	src: url(../fonts/JosefinSans-Regular.ttf);
}
